{% extends 'base.html.twig' %}

{% block title %}Contacts index{% endblock %}

{% block body %}
    <h1>Contacts index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Fonction</th>
                <th>Telephone</th>
                <th>Avatar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.nom }}</td>
                <td>{{ contact.fonction }}</td>
                <td>{{ contact.telephone }}</td>
                <td>{{ contact.avatar }}</td>
                <td>
                    <a href="{{ path('controller_contacts_show', {'id': contact.id}) }}">show</a>
                    <a href="{{ path('controller_contacts_edit', {'id': contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('controller_contacts_new') }}">Create new</a>
{% endblock %}
